{{> header }}

<div class="header">
	{{{img "logo.png" "header__logo"}}}
</div>

<div class="info">
	<div class="info__description">
		We're making a game! It's about trains and called Conduct THIS! The rest we're<br>
		still figuring out. Watch us make it and <a href="mailto:hello@robo.cat">stay in touch</a>.
	</div>

	<a href="https://www.facebook.com/conductthis" class="info__hand" target="_blank">
		Like us on facebook for <em>maximum insider status</em>
	</a>

	<div class="info__video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/keUQqc9_8OU" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="info__video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/LTW4gOFKwWY" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<div class="newsletter">
	<div class="newsletter__description">Choo choo choose us. Lets keep you updated.</div>

	<div class="newsletter__thanks" id="newsletter_thanks">Thank you for signing up. We'll keep you posted!</div>
	<form class="newsletter__form" id="newsletter_form">
		<input class="newsletter__email" type="email" name="email" value="" placeholder="you@your-email.com">
		<button class="newsletter__submit ladda-button" id="newsletter_submit" type="submit" data-style="zoom-in"><span class="ladda-label">Yes!</span></button>
	</form>
</div>

<div class="sneakpeek">
	{{{img "sneakpeek.jpg" "sneakpeek__image"}}}
</div>

{{> footer }}
