{{> header }}

<div class="header-container">
  <div class="header">
  	 <div class="trailer">
  	   <iframe width="1080" height="608" src="https://www.youtube.com/embed/FOqkdoZgX8s?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
       <div class="clear"></div>
  	 </div>
  </div>
</div>

<div class="stores">
  <div class="stores__lhs">
    <a href="https://itunes.apple.com/us/app/conduct-this/id1151455384?mt=8&at=1010lwVg&ct=conductthis-site" class="stores__badge" target="_blank">
      <img src="/images/download-ios.png" data-at2x="/images/download-ios_2x.png" />
    </a>
  </div>

  <div class="stores__logo">
      <img src="/images/appicon.png" data-at2x="/images/appicon_2x.png" />
  </div>

  <div class="stores__rhs">
    <a href="https://play.google.com/store/apps/details?id=co.northplay.ConductTHIS" class="stores__badge" target="_blank">
      <img src="/images/download-android.png" data-at2x="/images/download-android_2x.png" />
    </a>
  </div>
</div>

<div class="tagline">
  <div class="tagline__title">A game of<br>explosive<br>railway<br>action</div>
  <div class="tagline__text">
    Set in a stunning world, with incredibly simple controls you race against time to bring passengers safely to their destination by commanding trains, switching tracks and avoiding collisions in increasingly challenging action-puzzles.
    <br><br>
    As you progress you unlock new trains, gain access to new beautiful and mysterious regions and earn awards in an addictive journey to the far reaches of this little world.
  </div>
</div>

<div class="gallery">
  <a href="/images/screenshot-1.jpg" data-lightbox="screenshots" class="gallery__item" style="background-image:url(/images/screenshot-1-thumb_2x.png);"></a>
  <a href="/images/screenshot-2.jpg" data-lightbox="screenshots" class="gallery__item" style="background-image:url(/images/screenshot-2-thumb_2x.png);"></a>
  <a href="/images/screenshot-3.jpg" data-lightbox="screenshots" class="gallery__item" style="background-image:url(/images/screenshot-3-thumb_2x.png);"></a>
  <a href="/images/screenshot-4.jpg" data-lightbox="screenshots" class="gallery__item" style="background-image:url(/images/screenshot-4-thumb_2x.png);"></a>
  <a href="/images/screenshot-5.jpg" data-lightbox="screenshots" class="gallery__item" style="background-image:url(/images/screenshot-5-thumb_2x.png);"></a>
</div>

<div class="reviews">
  <a class="reviews__item" href="https://itunes.apple.com/us/app/conduct-this/id1151455384?mt=8&at=1010lwVg&ct=conductthis-site" target="_blank">
    <span class="reviews__quote"><span class="reviews__hat"></span> "We love this challenging puzzle game" – Apple</span>
  </a>
  <a class="reviews__item" href="http://appadvice.com/review/conduct-this" target="_blank">
    <span class="reviews__quote"><span class="reviews__hat"></span> "The low-poly visuals are gorgeous, the music is incredibly well done, and the puzzles themselves are clever and challenging." – AppAdvice</span>
  </a>
  <a class="reviews__item" href="https://www.applesfera.com/juegos-ios/conduct-this-un-simulador-de-trenes-simple-pero-que-es-todo-un-desafio-app-de-la-semana" target="_blank">
    <span class="reviews__quote"><span class="reviews__hat"></span>"Conduct THIS! is one of the fresh breaths of air and originality that the App Store needs from time to time" – Applesfera</span>
  </a>
  <a class="reviews__item" href="http://www.check-app.de/2016/12/31/app-tipp-nicht-nur-fuer-eisenbahnfans-conduct-this/" target="_blank">
    <span class="reviews__quote"><span class="reviews__hat"></span>"Conduct This is a gorgeous-challenging game of skill, what feels like such a Transport Tycoon on Red Bull" – Check App</span>
  </a>
</div>

<div class="newsletter-container">
  <div class="newsletter">
    <div class="newsletter__box">
      <div class="newsletter__row">
        <div class="newsletter__description">Stay updated with #conductthis</div>
      </div>

      <div class="newsletter__row">
        <div class="newsletter__thanks" id="newsletter_thanks">Thank you for signing up. We'll keep you posted!</div>
      	<form class="newsletter__form" id="newsletter_form">
      		<input class="newsletter__email" type="email" name="email" value="" placeholder="you@your-email.com">
      		<button class="newsletter__submit ladda-button" id="newsletter_submit" type="submit" data-style="zoom-in"><span class="ladda-label">Sign up</span></button>
      	</form>
      </div>

      <div class="newsletter__row newsletter__social">
        <a href="https://www.facebook.com/conductthis" class="newsletter__like" target="_blank">
      		Facebook
      	</a>
        <a href="https://twitter.com/conductthis" class="newsletter__tweet" target="_blank">
      		Twitter
      	</a>
        <a href="mailto:hey@northplay.co?subject=Conduct%20THIS" class="newsletter__write" target="_blank">
      		Email us
      	</a>
      </div>
    </div>
  </div>
</div>

<div class="diaries">
  <div class="diaries__title">Watch how we made it</div>
  <div class="diaries__content">
    <div class="diaries__item">
  		<iframe width="530" height="296" src="https://www.youtube.com/embed/keUQqc9_8OU" frameborder="0" allowfullscreen></iframe>
  	</div>
  	<div class="diaries__item">
  		<iframe width="530" height="296" src="https://www.youtube.com/embed/LTW4gOFKwWY" frameborder="0" allowfullscreen></iframe>
  	</div>
  	<div class="diaries__item">
  		<iframe width="530" height="296" src="https://www.youtube.com/embed/DYTntG4mlmQ" frameborder="0" allowfullscreen></iframe>
  	</div>
    <div class="diaries__item">
  		<iframe width="530" height="296" src="https://www.youtube.com/embed/D13SbqOc92A" frameborder="0" allowfullscreen></iframe>
  	</div>
  </div>
</div>

<div class="madeby">
  <div class="madeby__item madeby__logo">
    <a href="https://northplay.co" target="_blank">
      <img src="/images/northplay.png" alt="Northplay" data-at2x="/images/northplay_2x.png" />
    </a>
  </div>
</div>

<div class="footnotes">
  <div class="footnotes__item">
    <p>Wanna talk? <a href="mailto:hey@northplay.co" target="_blank">
      Send us an email
    </a></p>
  </div>

  <div class="footnotes__item">
    <p><a href="/downloads/presspackage.zip" target="_blank">
      Download Press Package
    </a></p>
  </div>

  <div class="footnotes__item">
    <p>Join us on <a href="http://facebook.com/northplay" target="_blank">
      facebook
    </a></p>
  </div>
</div>

{{> footer }}
