$font_family_primary: 'Georgia', serif;

// --------- COLORS ---------

$color_ct_orange: rgb(234, 86, 4);
$color_ct_yellow: rgb(255, 251, 0);
$color_ct_white: rgb(255, 255, 255);
$color_ct_blue_deep: rgb(24, 94, 173);
$color_ct_blue_light: rgb(106, 176, 255);

$color_text_primary: $color_ct_white;
$color_text_link_hover: $color_ct_orange;

$color_action_background: $color_ct_yellow;
$color_action_foreground: $color_ct_orange;


$layout_max_width: 2000px;
