@import "normalize";
@import "ladda";
@import "ladda-themed";

@import "_variables";
@import "_mixins";

html {
  font-size: 62.5%;
  font-family: $font_family_primary;
}

body, p, a, span, li, h1, h2, h3, h4 {
	-webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(0deg, $color_background_stop_1 0%, $color_background_stop_2 100%);
  color: $color_text_primary;

  @include rem(font-size, 1.8rem);
  line-height: 1.3em;

  a {
    color: $color_text_primary;
    text-decoration: underline;

    &:hover { color: $color_text_link_hover; }
  }
}

@include b(container) {
  width: 100%;
}

@import "blocks/_header";
@import "blocks/_info";
@import "blocks/_newsletter";
@import "blocks/_sneakpeek";
