@import "normalize";
@import "lightbox";

@import "_variables";
@import "_mixins";

html {
  font-size: 62.5%;
  font-family: $font_cubano;
}

body, p, a, span, li, h1, h2, h3, h4 {
	-webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  padding-bottom: 100px;

  background: url('/images/background.jpg') no-repeat top center;
  background-color: $color_ct_background;
  color: $color_text_primary;

  @include rem(font-size, 1.8rem);
  line-height: 1.3em;

  a {
    color: $color_text_primary;
    text-decoration: underline;

    &:hover { color: $color_text_link_hover; }
  }
}

@include b(container) {
  width: 100%;
}

@import "blocks/_header";
@import "blocks/_info";
@import "blocks/_newsletter";
@import "blocks/_tagline";
@import "blocks/_gallery";
@import "blocks/_diaries";
@import "blocks/_madeby";
@import "blocks/_footnotes";
