.newsletter-button {
  display: block;

  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18pt;
  line-height: 22pt;
  text-decoration: none;
  padding: 18px 30px 18px 80px;
  flex: 1 1 33%;
  margin: 0 10px;
  background-repeat: no-repeat;

  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}

@include b(newsletter-container) {
  background: url('/images/explosion.png') no-repeat center center;
  width: 100%;
  min-height: 739px;
  margin-top: 120px;
  display: flex;
  align-items: center;
}

@include b(newsletter) {
  @include flex_container;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  display: flex;
  width: 100%;

  @include e(box) {
    flex: 0 1 720px;
    padding: 30px;
    border-radius: 10px;

    background-color: #fff;
  }

  @include e(description) {
    color: #000;
    font-size: 20pt;
  }

  @include e(form) {
    display: flex;
    margin-top: 20px;
    flex-flow: row nowrap;
  }

  @include e(submit) {
    margin-left: 15px;

    border: none;
    border-radius: 10px;
    background-color: $color_action_background;
    color: $color_action_foreground;
    font-weight: bold;
    cursor: pointer;

    padding: 20px 40px;
    font-size: 16pt;

    &:hover {
      background-color: darken($color_action_background, 10%);
    }
  }

  @include e(email) {
    flex: 1 1 auto;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
    font-size: 18pt;

    padding: 10px 10px 10px 20px;
    min-width: 240px;

    &::placeholder {
      color: rgba(66, 66, 66, 0.4);
    }

    &:disabled {
      opacity: 0.6;
    }
  }

  @include e(like) {
    @extend .newsletter-button;
    background-color: $color_ct_blue_light;
    color: #263770;
    background-image: url('/images/like-thumb_2x.png');
    background-position: 20px 50%;
    background-size: 43px 37px;

    &:hover {
      color: $color_ct_blue_deep;
      background-color: lighten($color_ct_blue_light, 10%);
    }
  }

  @include e(tweet) {
    @extend .newsletter-button;
    background-color: #6abdd5;
    color: #266273;
    background-image: url('/images/tweet-bird_2x.png');
    background-position: 20px 50%;
    background-size: 40px 34px;

    &:hover {
      color: #266273;
      background-color: lighten(#6abdd5, 10%);
    }
  }

  @include e(write) {
    @extend .newsletter-button;
    background-color: #f49915;
    color: #8b5409;
    background-image: url('/images/mail-envelope_2x.png');
    background-position: 20px 50%;
    background-size: 40px 26px;

    &:hover {
      color: #8b5409;
      background-color: lighten(#f49915, 10%);
    }
  }

  @include e(social) {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  @include e(thanks) {
    display: none;
    margin-top: 15px;
    font-size: 20pt;
    line-height: 20pt;
    color: $color_ct_orange;
  }
}

@include breakpoint(760px) {
  @include b(newsletter) {
    @include e(social) {
      flex-wrap: wrap;
    }

    .newsletter-button {
      margin: 5px 0;
      flex: 1 1 100%;
    }
  }
}

@include breakpoint(600px) {
  @include b(newsletter-container) {
    min-height: 600px;
    background-size: cover;
  }

  @include b(newsletter) {
    margin: 0 10px;

    @include e(description) {
      text-align: center;
      line-height: 24pt;
    }

    @include e(email) {
      padding: 20px;
      text-align: center;
    }

    @include e(form) {
      flex-flow: row wrap;
    }

    @include e(row) {
      flex: 1 1 100%;
      flex-wrap: wrap;
    }

    @include e(submit) {
      flex: 1 1 auto;
      margin: 10px 0 0 0;
    }
  }
}
