@include b(reviews) {
  @include flex_container;
  display: flex;
  flex-flow: column nowrap;

  margin-top: 80px;
  text-align: center;

  @include e(hat) {
    display: block;
    flex: 0 0 65px;
    height: 50px;
    background: url('/images/review-hat_2x.png') no-repeat center center;
    background-size: 65px 50px;
    margin-right: 5px;
  }

  @include e(quote) {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  @include e(item) {
    display: flex;
    // flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff54f;
    @include rem(font-size, 2rem);
    margin-bottom: 30px;

    &:hover {
      opacity: 0.8;
    }
  }
}

@include breakpoint(520px) {
  @include b(reviews) {
    @include e(item) {
      flex-wrap: wrap;
    }

    @include e(hat) {
      display: none;
    }
  }
}
