@include b(sneakpeek) {
  align-items: flex-end;
  justify-content: center;
  flex-flow: row nowrap;
  padding-top: 40px;
  width: 100%;

  @include e(image) {
    display: block;
    margin: 0 auto;
    max-width: 100% !important;
    height: auto;
  }
}

@mixin responsive {
  @include b(sneakpeek) {
    position: relative;
    bottom: auto;
    width: 100%;
    padding-top: 40px;
  }
}
