@include b(stores) {
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  @include e(logo) {
    margin: 0 20px;
  }

  @include e(badge) {
    &:hover { opacity: 0.8; }
  }
}
