@keyframes logoIn {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.logoIn {
  animation-name: logoIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes lhsIn {
  0% {
    transform: translateX(60%);
    opacity: 0;
  }
  60% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rhsIn {
  0% {
    transform: translateX(-60%);
    opacity: 0;
  }
  60% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.badgeIn {
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

.lhsIn {
  @extend .badgeIn;
  animation-name: lhsIn;
}

.rhsIn {
  @extend .badgeIn;
  animation-name: rhsIn;
}

@include b(stores) {
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  @include e(logo) {
    margin: 0 20px;
    @extend .logoIn;
    z-index: 20;
  }

  @include e(badge) {
    &:hover { opacity: 0.8; }
  }

  @include e(lhs) {
    opacity: 0;
    @extend .lhsIn;
  }

  @include e(rhs) {
    opacity: 0;
    @extend .rhsIn;
  }
}


@include breakpoint(720px) {
  @include b(stores) {
    flex-wrap: wrap;

    @include e(logo) {
      display: none;
    }

    @include e(badge) {
      flex: 1 1 100%;
      margin: 0 5px;
    }
  }
}

@include breakpoint(520px) {
  @include b(stores) {
    margin-bottom: 30px;
  }
}
