body {
  margin: 0;
  padding: 0;
  font: 300 14px/1em futura-pt, Helvetica, sans-serif;
  -webkit-font-smoothing: antialized;
  background-color: #fcfcfc;
}

html {
  position: relative;
  min-height: 100%;
}

a, button, input[type="submit"] {
  cursor: pointer;
}
